body { font-family: TimesRoman,Times,serif; font-size: 11pt; background-color: #F8F8F8; }

a:link    { color: #0000A0; text-decoration: none; }
a:active  { color: #FF0000; text-decoration: none; }
a:visited { color: #800080; text-decoration: none; }
a:hover   { color: #0000A0; background: #DCECFF; text-decoration: none; }

p { margin-left: 0pt;
    margin-top: 6pt;
    text-align: left;
    line-height: 14pt;
    text-indent: 0pt;
    font-family: TimesRoman; 
    font-size: 11pt; }


pre { font-size: 9pt; }

table.pageHeader { width: 100%; 
		   background-color: #DCECFF;
	           vertical-align: middle; }
table.pageHeader td { vertical-align: middle; }

table.body    { empty-cells:   hide;
	        table-layout:  auto; 
	        padding-left:  0;
	        border-width:  0;
                margin-top:    6pt;
                margin-bottom: 6pt; 
	        margin-left:   0.2in; }
table.body tr { line-height: 14pt; 
                margin-top: 0;
                margin-bottom:0;  }
table.body td { font-family: TimesRoman; 
                font-size: 11pt;
                margin-top: 0;
                margin-bottom:0; }

table.seeAlso     { empty-cells:   hide;
	            table-layout:  auto; 
	            padding-left:  0;
	            border-width:  0;
                    margin-top:    6pt;
                    margin-bottom: 6pt; 
	            margin-left:   0.2in; }
table.seeAlso tr  { line-height: 11pt;
                    margin-top: 0;
                    margin-bottom:0; }
table.seeAlso td  { font-family: TimesRoman; 
                    font-size: 11pt;
                    margin-top: 0;
                    margin-bottom:0; }

div.PT                { margin-top: 0;
	                margin-bottom: 15;
		        font-style: bold;
	                margin-left: 0;
	                font-family: Arial, sans-serif;
	                vertical-align: baseline; }
table.PT td.name      { font-family: Arial, sans-serif;
		        font-style: bold;
    		        font-size: 15pt; 
	                padding-top: 1pt;
    		        /*vertical-align: baseline;*/ }
table.PT td.paramList { font-family: Arial, sans-serif;
		        font-style: bold;
    		        font-size: 15pt; 
		        /*vertical-align:  baseline;*/
			/*line-height: 18pt;*/
	                  padding-top: 2pt;  }

span.PTFnName         { color: blue;
    		        font-size: 18pt; 
	                font-family: Arial, sans-serif;
		        font-style: bold;
			white-space:nowrap;
	                vertical-align:baseline; }
span.PTFntype         { color: #A02020; 
    		        font-size: 15pt; 
	                font-family: Arial, sans-serif;
		        font-style: bold;
	                vertical-align:baseline; }
span.PTParamType      { color: #A02020; 
    		        font-size: 15pt; 
	                font-family: Arial, sans-serif;
		        font-style: bold;
			     white-space:nowrap;}
span.PTParamName      { color: #208020;
    		        font-size: 15pt; 
	                font-family: Arial, sans-serif;
		        font-style: bold; 
			white-space:nowrap;}

div.desc                  { font-family: TimesRoman, serif; 
    		            font-size: 11pt; 
	                    color: black; }
div.version               { color: black; 
	                    margin-top: 6pt; 
	                    margin-left: 0.2in;  }
div.see_also              { font-family: TimesRoman, serif;
	                     margin-top: 3pt;   }
div.passageIndent         { margin-left: 15; }
pre.example               { color: black;
	                    font-family: monospace;
    		            font-size: 9pt; 
	                    margin-top: 6pt; 
	                    margin-left: 0.2in;  }

/*span.methodNm           { color: #A02020; }*/
span.paramNm              { color: #208020; 
	                    font-family: Courier,monospace;
		            font-weight: bold; }
span.classType            { color: #002060; font-family: monospace;}
span.constantNm           { color: #604000; 
	                    font-family: Courier,monospace;  }
span.reservedWord         { color: #604000; 
			    white-space:nowrap;
	                    font-family: Courier,monospace;  }
span.sectionNm            { color: black; 
	                    font-family: TimesRoman, serif; 
		            font-weight: bold; }
span.nonbreaking          { white-space:nowrap; }
span.code                 { color: #802000; }
span.underscore           { font-family: Courier, serif;
		            font-style: bold;
			    height: 3pt;
	                    /*padding-bottom: 3pt;*/ } /* adjusts underscore height*/